[data-theme="dark"] {
  --body-bg-color: #0f1419;
  --body-border-color: #323c4c;

  --scrollbar-track-bg: #121212;
  --scrollbar-thumb-bg: #1a1a1a;

  --header-bg-color: #1a1a1a;
  --header-logo-color: #2679ff;
  --header-input-bg-color: #4f596830;
  --header-input-focus-bg-color: #4f596860;
  --header-input-hover-bg-color: #4f596880;
  --header-input-border-color: #323c4c;
  --header-input-border-focus-color: #2679ff;
  --header-input-text-color: #ffffff;
  --header-input-placeholder-color: #99a1af;
  --unsaved-indicator-color: #ff7474;
  --header-nav-tab-color: #6d7c84;
  --header-nav-valid-bg: #00bb0025;
  --header-nav-valid-color: #00bb00;
  --header-nav-invalid-bg: #ff000025;
  --header-nav-invalid-color: #ff0000;
  --header-nav-loading-border: #eeeeee;
  --header-nav-loading-color: #eeeeee;
  --header-nav-loading-fill: #eeeeee40;
  --header-nav-button-bg: #450074;
  --header-nav-button-hover-bg: #7715ff;
  --header-nav-button-color: #ffffff;
  --header-nav-button-hover-color: #ffffff;
  --header-nav-button-2-bg: #12366f;
  --header-nav-button-2-hover-bg: #246bdd;
  --header-nav-button-2-color: #ffffff;
  --header-nav-button-2-hover-color: #ffffff;
  --header-icon-color: #9e9eb3;
  --header-nav-item-color: #99a1af;
  --header-nav-item-hover-color: #ffffff;
  --header-nav-validate-button-bg: #12366f;
  --header-nav-validate-button-color: #ffffff;
  --header-nav-validate-button-hover-bg: #246bdd;

  --desplegable-icon-color: #717182;

  --toolbar-bg-color: #242424;
  --toolbar-icon-color: #ffffff;
  --toolbar-active-bg-color: #333333;

  --properties-h1-color: #ffffff;
  --properties-label-color: #99a1af;
  --properties-input-bg-color: #23272a;
  --properties-input-color: #ffffff;
  --properties-h2-color: #99a1af;
  --properties-button-color: #2679ff;

  --elements-bg-color: #1a1a1a;
  --elements-input-bg-color: #23272a;
  --elements-item-hover-bg-color: #373c44;
  --elements-icon-color: #9e9eb3;

  --error-validation-modal-bg-color: #202b36;
  --error-validation-modal-h1-color: #ffffff;
  --error-validation-modal-p-color: #99a1af;
  --error-validation-modal-suggest-color: #1383f3;
  --error-validation-modal-icon-color: #f54645;
  --error-validation-modal-close-button-bg: #137fec;
  --error-validation-modal-btn-accept-color: #ffffff;
  --error-validation-modal-close-button-hover-bg: #bedcff;
  --error-validation-modal-btn-accept-hover-color: #0b132c;
  --error-validation-modal-warning-icon-color: #ffc87c;
  --error-validation-modal-reason-color: #ffc87c;
  --error-validation-modal-attribute-color: #ebb6ff;

  --modal-overlay-bg-color: #00000055;
  --modal-bg-color: #222222;
  --modal-color: #ffffff;
  --modal-color-hover: #000000;
  --modal-border-color: #ffffff50;
  --modal-shortcut-bg-color: #3e3e3e;
  --modal-button-bg-color: #003b76;
  --modal-button-bg-hover-color: #000b28;
  --modal-button-confirm-bg-color: #004207;
  --modal-button-confirm-bg-hover-color: #afffb6;
  --modal-button-cancel-bg-color: #400000;
  --modal-button-cancel-bg-hover-color: #ffc0c0;

  --node-entity-bg: #1e1e1e;
  --node-entity-border: #444444;
  --node-entity-attribute-border: #333333;
  --node-selected-border: #2679ff;

  --btn-bg: #f5f5f5;
  --btn-color: #000000;
  --btn-border: #cccccc;
  --btn-hover-bg: #000000;
  --btn-hover-color: #ffffff;

  --er-edge-path-stroke: #c9c9c99b;
  --er-edge-text-fill: #ffffffd9;

  --popover-button-bg: #003a8c;
  --popover-button-color: #ffffff;
  --popover-button-hover-bg: #4271ff;
  --popover-button-hover-color: #ffffff;
  --popover-button-border-color: #003a8c;
  --popover-close-button-color: #ffffff;

  --validate-popover-bg-error: #653333;
  --validate-popover-border-error: #ffb7b7;
  --validate-popover-color: #ffb7b7;
}
