[data-theme="light"] {
  --body-bg-color: #ffffff;
  --body-border-color: #696969;

  --scrollbar-track-bg: #ffffff;
  --scrollbar-thumb-bg: #9a9a9a;

  --header-bg-color: #ededed;
  --header-logo-color: #000000;
  --header-input-bg-color: #ffffff;
  --header-input-focus-bg-color: #ffffff70;
  --header-input-hover-bg-color: #ffffff60;
  --header-input-border-color: #000000;
  --header-input-border-focus-color: #007bff;
  --header-input-text-color: #000000;
  --header-input-placeholder-color: #4d4d4d;
  --unsaved-indicator-color: #bf0000;
  --header-nav-tab-color: #000000;
  --header-nav-valid-bg: #8fd48f;
  --header-nav-valid-color: #004700;
  --header-nav-invalid-bg: #a9000083;
  --header-nav-invalid-color: #ffd2d2;
  --header-nav-loading-border: #272727;
  --header-nav-loading-color: #000000;
  --header-nav-loading-fill: #00000040;
  --header-nav-button-bg: #6200ff;
  --header-nav-button-hover-bg: #40006e;
  --header-nav-button-color: #ffffff;
  --header-nav-button-hover-color: #ffffff;
  --header-nav-button-2-bg: #003dd8;
  --header-nav-button-2-hover-bg: #1d215e;
  --header-nav-button-2-color: #ffffff;
  --header-nav-button-2-hover-color: #ffffff;
  --header-icon-color: #000041;
  --header-nav-item-color: #474747;
  --header-nav-item-hover-color: #000000;
  --header-nav-validate-button-bg: #2679ff;
  --header-nav-validate-button-color: #ffffff;
  --header-nav-validate-button-hover-bg: #164692;

  --desplegable-icon-color: #000000;

  --toolbar-bg-color: #ffffff;
  --toolbar-icon-color: #000000;
  --toolbar-active-bg-color: #cacaca;

  --properties-h1-color: #000000;
  --properties-label-color: #4d4d4d;
  --properties-input-bg-color: rgb(255, 255, 255);
  --properties-input-color: #000000;
  --properties-h2-color: #000000;
  --properties-button-color: #0080ff;

  --elements-bg-color: #ededed;
  --elements-input-bg-color: #ffffff;
  --elements-item-hover-bg-color: rgba(0, 0, 0, 0.338);
  --elements-icon-color: #000000;

  --error-validation-modal-h1-color: #000000;
  --error-validation-modal-p-color: #4d4d4d;
  --error-validation-modal-suggest-color: #1383f3;
  --error-validation-modal-icon-color: #f54645;
  --error-validation-modal-close-button-bg: #137fec;
  --error-validation-modal-btn-accept-color: #ffffff;
  --error-validation-modal-close-button-hover-bg: #bedcff;
  --error-validation-modal-btn-accept-hover-color: #0b132c;
  --error-validation-modal-warning-icon-color: #ffcf8b;
  --error-validation-modal-reason-color: #c88021;
  --error-validation-modal-attribute-color: #57009e;

  --modal-overlay-bg-color: #00000055;
  --modal-bg-color: #ffffff;
  --modal-color: #000000;
  --modal-color-hover: #000000;
  --modal-border-color: #00000069;
  --modal-shortcut-bg-color: #e9e9e9;
  --modal-button-bg-color: #0657a9;
  --modal-button-bg-hover-color: #000b28;
  --modal-button-confirm-bg-color: #007c0c;
  --modal-button-confirm-bg-hover-color: #afffb6;
  --modal-button-cancel-bg-color: #8c0000;
  --modal-button-cancel-bg-hover-color: #ffc0c0;
  --modal-version-bg-color: #e0e0e0;
  --modal-version-color: #000000;

  --node-entity-bg: #1e1e1e;
  --node-entity-border: #444444;
  --node-entity-attribute-border: #333333;
  --node-selected-border: #5b5bff;

  --btn-bg: #4e4e4e;
  --btn-color: #ffffff;
  --btn-border: #3c3c3c;
  --btn-hover-bg: #ffffff;
  --btn-hover-color: #000000;

  --er-edge-path-stroke: #000000bb;
  --er-edge-text-fill: #000000;

  --popover-button-bg: #6200ff;
  --popover-button-color: #ffffff;
  --popover-button-hover-bg: #ffffff;
  --popover-button-hover-color: #4400b2;
  --popover-button-border-color: #6200ff;
  --popover-close-button-color: #6200ff;

  --validate-popover-bg-error: #ffb7b7;
  --validate-popover-border-error: #340000;
  --validate-popover-color: #340000;

  --ai-role-user-bg: #1b1b1b;
  --ai-role-user-color: #ffffff;
  --ai-role-ai-bg: #c9c9c9;
  --ai-role-ai-color: #000000;
  --ai-input-bg: #d6d6d6;
  --ai-input-border: #898989;
  --ai-input-color: #000000;
  --ai-button-bg: #000000;
  --ai-button-border-color: #000000;
  --ai-button-color: #ffffff;
  --ai-scroll-button-bg: #cdcdcd;
  --ai-scroll-button-color: #515151;
  --ai-loader-color: #000000;
}
