@use "variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;

  font-family: $font-primary;
  background-color: var(--body-bg-color);

  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;

  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 6px;
}

@keyframes element-pulse {
  0% {
    box-shadow: 0 0 0 0 var(--node-selected-border);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
