@use "variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;

  font-family: $font-primary;
  background-color: $body-bg-color;

  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;

  position: relative;
}
