// Fuentes
@import url("https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

// Variables
$font-primary: "Google Sans Flex", sans-serif;
$font-secondary: "Geom", sans-serif;
