.app__layout {
  position: relative;
  height: 100vh;
  display: grid;
  overflow: clip;

  &.relational,
  &.er {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 64px 1fr;

    grid-template-areas:
      "nav nav nav"
      "elements main inspector";
  }
}

.mobile__block {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;

  background-color: var(--body-bg-color);

  h1 {
    color: var(--properties-h1-color);
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    color: var(--properties-label-color);
    font-size: 16px;
  }
}
