@use "../variables" as *;

.elements {
  position: relative;
  width: 300px;
  height: 100dvh;

  background-color: var(--elements-bg-color);

  border: 1px solid var(--body-border-color);
  border-top: 1px solid transparent;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;

  grid-area: elements;

  transition: width 0.3s ease-in-out;

  &.hidden {
    width: 40px;

    .elements__list {
      display: none;
    }

    button {
      right: 2px;
    }
  }

  .elements__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    h1 {
      font-family: $font-primary;
      font-size: 20px;
      color: var(--properties-h1-color);
      margin: 16px 14px;
      font-weight: 500;
      line-height: 145%;
      letter-spacing: -0.5%;
    }

    .elements__count {
      font-family: $font-primary;
      font-size: 12px;
      color: var(--properties-label-color);
      margin: 0 0 20px 14px;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: -0.5%;
    }
  }

  .elements__container {
    border-top: 1px solid var(--body-border-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;

    .elements__searchbar {
      width: 85%;
      height: 36px;
      background-color: var(--elements-input-bg-color);

      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 10px;

      border-radius: 8px;

      svg {
        height: 20px;
        width: auto;
        color: var(--desplegable-icon-color);
      }

      input {
        width: 100%;
        height: auto;
        background-color: transparent;
        border: none;
        outline: none;

        color: var(--properties-input-color);
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 200;
        line-height: 145%;
        letter-spacing: -0.5%;

        &::placeholder {
          color: var(--properties-label-color);
          opacity: 0.5;
        }
      }

      .elements__clear_button {
        background-color: transparent;
        border: none;

        svg {
          height: 20px;
          width: auto;
          color: var(--desplegable-icon-color);

          transition: transform 0.2s ease-in-out;
        }
        &:hover {
          svg {
            transform: scale(1.2);
            cursor: pointer;
          }
        }
      }
    }

    .elements__list {
      width: 90%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      overflow: auto;

      .elements__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 10px;
        border-radius: 8px;

        font-family: $font-primary;
        font-size: 14px;
        color: var(--properties-input-color);
        font-weight: 400;
        line-height: 145%;

        transition: background-color 0.2s ease-in-out;

        &:hover,
        &.selected {
          background-color: var(--elements-item-hover-bg-color);
          cursor: pointer;
        }

        svg {
          height: 24px;
          width: auto;
          color: var(--elements-icon-color);
        }

        button {
          background-color: transparent;
          border: none;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);

          svg {
            height: 20px;
            width: auto;
            color: var(--properties-input-color);

            transition: transform 0.2s ease-in-out;
          }

          &:hover {
            svg {
              transform: scale(1.2);
              cursor: pointer;
            }
          }
        }

        .elements__icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
