@use "../variables" as *;

.properties {
  position: relative;
  width: 450px;
  height: 100dvh;
  background-color: $header-bg-color;
  border: 1px $body-border-color solid;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;

  grid-area: inspector;

  transition: width 0.3s ease;

  &.hidden {
    width: 40px;

    .properties__container {
      display: none;
    }

    button {
      right: 2px;
    }
  }

  h1 {
    font-family: $font-primary;
    font-size: 20px;
    color: $properties-h1-color;
    margin: 16px 14px;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: -0.5%;
  }

  .properties__container {
    border-top: 1px solid $body-border-color;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;

    .properties__item_input {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px 14px;

      font-family: $font-primary;
      font-size: 14px;
      color: $properties-label-color;
      font-weight: 500;
      line-height: 145%;
      letter-spacing: -0.5%;
      border-bottom: 1px solid $body-border-color;

      input {
        height: 32px;
        background-color: $properties-input-bg-color;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;

        color: $properties-input-color;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 200;
        line-height: 145%;
        letter-spacing: -0.5%;

        border: 1px solid transparent;

        margin-bottom: 10px;

        &:focus {
          outline: none;
          border: 1px solid $body-border-color;
        }
      }
    }
  }

  .properties__attributes {
    display: flex;
    flex-direction: column;
    padding: 0 14px;

    h2 {
      font-family: $font-primary;
      font-size: 14px;
      color: $properties-label-color;
      padding: 10px 0 0 0;
      font-weight: 500;
      line-height: 145%;
      letter-spacing: -0.5%;
    }

    .attributes {
      width: 100%;
      border-collapse: separate;
      padding-bottom: 20px;

      th {
        text-align: center;
        font-family: $font-primary;
        font-size: 12px;
        color: $properties-label-color;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: -0.5%;
      }

      tr {
        height: 40px;

        td {
          text-align: center;
          font-family: $font-primary;
          font-size: 12px;
          color: $properties-input-color;
          font-weight: 400;
          line-height: 145%;
          letter-spacing: -0.5%;

          input {
            width: 100%;
            height: 32px;
            background-color: $properties-input-bg-color;
            border: none;
            border-radius: 5px;
            padding: 2px 5px;

            color: $properties-input-color;
            font-family: $font-primary;
            font-size: 12px;
            font-weight: 200;
            line-height: 145%;
            letter-spacing: -0.5%;
            outline: none;

            border: 1px solid transparent;

            &:focus {
              outline: none;
              border: 1px solid $body-border-color;
            }
          }
        }
        select {
          width: 80%;
          height: 32px;
          background-color: $properties-input-bg-color;
          border: none;
          border-radius: 5px;
          padding: 2px 5px;

          color: $properties-input-color;
          font-family: $font-primary;
          font-size: 12px;
          font-weight: 200;
          line-height: 145%;
          letter-spacing: -0.5%;
          outline: none;

          border: 1px solid transparent;

          &:focus {
            outline: none;
            border: 1px solid $body-border-color;
          }
        }

        .checkbox {
          width: 18px;
          height: 18px;

          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          input {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            &:checked + .checkbox__box {
              background-color: $properties-input-color;
              border-color: $properties-input-color;

              &::after {
                content: "";
                position: absolute;

                width: 6px;
                height: 10px;

                border-right: 2px solid $header-bg-color;
                border-bottom: 2px solid $header-bg-color;

                transform: rotate(45deg);
              }
            }
          }

          .checkbox__box {
            position: relative;
            width: 18px;
            height: 18px;
            border: 2px solid $properties-input-color;
            border-radius: 4px;
            background-color: transparent;
            transition: background-color 0.2s ease, border-color 0.2s ease;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          &:hover .checkbox__box {
            border-color: $properties-button-color;
          }
        }

        button {
          width: 22px;
          height: 22px;
          background-color: transparent;
          border: none;
          border-radius: 2px;
          cursor: pointer;

          svg {
            width: 20px;
            height: 20px;
            color: $properties-label-color;
          }
        }
      }
    }

    .properties__attribute_add_button {
      width: 100%;
      background-color: transparent;
      border: none;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      font-family: $font-primary;
      font-size: 14px;
      color: $properties-button-color;
      font-weight: 500;
      line-height: 145%;
      letter-spacing: -0.5%;

      margin-bottom: 20px;

      transition: opacity 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}
