@use "../variables" as *;

.editor__canvas {
  width: 100%;
  height: 100dvh;

  grid-area: main;

  z-index: 0;

  .react-flow__controls {
    width: 40px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px $body-border-color solid;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: $header-bg-color;
  }

  .react-flow__panel {
    margin: 0;
    margin-right: 30px;
    &.left {
      left: 30px;
    }
    &.bottom {
      bottom: 84px;
    }

    .react-flow__controls-button {
      width: 100%;
      height: 40px;
      background-color: transparent;
      padding: 0;

      border-bottom: 1px $body-border-color solid;

      &:last-child {
        border-bottom: none;
        border-radius: 0 0 10px 10px;
      }

      &:first-child {
        border-radius: 10px 10px 0 0;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: $toolbar-icon-color;

        transition: transform 0.2s ease-in-out;
      }

      &:hover {
        svg {
          transform: scale(1.4);
          cursor: pointer;
        }
      }
    }
  }
}
