@use "../variables" as *;

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-overlay-bg-color;
  z-index: 999;

  .modal__keyboard_shortcuts {
    width: 600px;
    max-width: 90%;
    min-height: 300px;

    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $keyboard-shortcuts-modal-bg-color;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: $modal-color;
      font-family: $font-primary;
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: 600;
    }

    .modal__close-button {
      position: absolute;
      top: 20px;
      right: 20px;

      background: none;
      border: none;

      transition: transform 0.2s ease;

      svg {
        width: 24px;
        height: 24px;
        fill: $modal-color;
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    .shortcut__section {
      width: 100%;
      margin-bottom: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      .shortcut__header {
        width: 100%;
        color: $modal-color;
        margin-bottom: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px dashed $modal-border-color;
        padding-bottom: 10px;
        text-align: left;

        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: default;

        span {
          font-size: 16px;
          font-weight: 500;
          font-family: $font-primary;
        }

        svg {
          width: 20px;
          height: 20px;
          fill: $modal-color;
        }
      }

      .shortcut__list {
        width: 100%;
        flex: 1;
        overflow-y: auto;

        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transform: translateY(-4px);

        transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;

        &.open {
          max-height: 400px;
          opacity: 1;
          transform: translateY(0);
        }

        table {
          width: 100%;
          border-collapse: collapse;
          table-layout: fixed;

          tr {
            height: 40px;
          }

          th {
            text-align: center;
            padding: 8px;
            color: $modal-color;
            font-family: $font-primary;
            font-size: 14px;
          }

          td {
            text-align: center;
            padding: 8px;
            color: $modal-color;
            font-family: $font-primary;
            font-size: 12px;
            font-weight: 100;
          }

          .shortcut {
            display: flex;
            justify-content: center;
            gap: 8px;
            align-items: center;

            .shortcut__ctrl {
              width: 60px;
              padding: 4px 8px;
              border: 1px solid $modal-border-color;
              background-color: $modal-shortcut-bg-color;
              border-radius: 4px;
            }

            .shortcut__key {
              width: 40px;
              padding: 4px 8px;
              border: 1px solid $modal-border-color;
              background-color: $modal-shortcut-bg-color;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}
