@use "../variables" as *;

.er__entity {
  position: relative;
  padding: 0;
  background: transparent !important;
  box-sizing: border-box;
  border-radius: 15px;

  &.selected {
    outline: 2px dashed var(--node-selected-border) !important;
    border: none !important;
    animation: element-pulse 1.5s infinite;
  }
}

.er__relation {
  position: relative;
  padding: 0;
  background: transparent !important;
  box-sizing: border-box !important;
  border: none !important;
  border-radius: 15px;

  &.selected {
    outline: 2px dashed var(--node-selected-border) !important;
    border: none !important;
    animation: element-pulse 1.5s infinite;
  }
}

.note__node {
  position: relative;
  padding: 24px;
  background: transparent !important;
  box-sizing: border-box;
  border-radius: 10px;

  &.selected {
    outline: 2px dashed var(--node-selected-border) !important;
    border: none !important;
    animation: element-pulse 1.5s infinite;
  }
}

.react-flow__handle {
  box-sizing: border-box !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  border-radius: 50% !important;
}

.er-edge-path {
  stroke: var(--er-edge-path-stroke);
}

.er-edge-text {
  fill: var(--er-edge-text-fill);
}

.relational-table {
  width: auto;
  min-width: 250px;
  border-radius: 10px;
  overflow: hidden;

  font-family: $font-primary;

  .header {
    position: relative;
    padding: 10px 6px;
    width: 100%;
    text-align: center;
    border-bottom: none;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 4px 12px;
  }

  .column {
    height: auto;
    display: grid;
    grid-template-columns: 25px 1fr auto auto;
    grid-template-areas: "key name type extras";
    align-items: center;
    position: relative;
    padding: 6px 0;

    &:last-child {
      border-bottom: none;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
      margin-right: 8px;

      grid-area: key;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .name {
      font-size: 14px;
      font-weight: 300;

      grid-area: name;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 8px;
    }

    .type {
      font-size: 10px;
      font-weight: 200;
      margin-left: auto;

      grid-area: type;
      font-family: monospace;
      text-align: left;
    }

    .extras {
      grid-area: extras;
      justify-content: flex-end;
      align-items: center;
      display: flex;

      span {
        padding: 1px 4px;
        border-radius: 3px;
        font-size: 9px;
        font-weight: 600;
        margin-left: 4px;
      }
    }
  }
}

.er__delete-btn {
  position: absolute;
  top: 0;
  right: 0;

  margin: 5px;

  width: 18px;
  height: 18px;
  border: 2px solid var(--btn-border);
  border-radius: 50%;
  background-color: var(--btn-bg);
  color: var(--btn-color);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-color);
  }

  svg {
    width: 10px;
    height: 10px;
  }
}
